@model IEnumerable<SocialY.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<input type="text" id="searchInput" placeholder="Search by Title or Description">
<input type="text" id="authorSearchInput" placeholder="Search by Author">

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ratings)
            </th>
        </tr>
    </thead>
    <tbody id="postsTableBody">
        @foreach (var item in Model)
        {
            double creativityAverage = item.Ratings.Any() ? item.Ratings.Average(r => r.CreativityRating) : 0;
            creativityAverage = Math.Round(creativityAverage, 2);

            double uniquenessAverage = item.Ratings.Any() ? item.Ratings.Average(r => r.UniqunessRating) : 0;
            uniquenessAverage = Math.Round(uniquenessAverage, 2);

            <tr class="postRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <img src="@item.ImageUrl" alt="Picture" width="200" />
                </td>
                <td>
                    <p>Creativity Average: 10/ @creativityAverage</p>
                    <p>Uniqueness Average: 10/ @uniquenessAverage</p>
                    <p>Ratings Count: @item.Ratings.Count</p>
                    <p>
                        <a asp-controller="Rating" asp-action="RatePost" asp-route-postId="@item.Id">Rate this Post yourself!</a>
                    </p>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts {
    <script src="~/js/filterPosts.js"></script>
}
